<nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <a class="navbar-brand" href="#">Fuugui</a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Comida <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Eletrônicos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Pet <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Moda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cosméticos <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <button class="btn"><img class="right-icon" src="https://img.icons8.com/carbon-copy/100/000000/shopping-basket-2.png"></button>
        <button class="btn"><img class="right-icon" src="https://img.icons8.com/carbon-copy/100/000000/squared-menu.png"></button>
    
    </div>
</nav>