<div class="card mb-3">
  <img src="{{ product[0].image }}" class="card-img-top" alt="...">
  <div class="card-body">

    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{ product[0].name }}</h5>
      <span style="color: #acacec;">R$ {{ product[0].price }}</span>
    </div>

    <div class="d-flex justify-content-between">

      <button class="btn btn-primary" (click)="addItemToCart(product[0])" *ngIf="product[0].inStock != 0">+</button>
      <h4 class="mt-1" *ngIf="product[0].inStock != 0"> {{ productCounter }} </h4>
      <button class="btn btn-primary" (click)="removeItemToCart(product[0])" *ngIf="product[0].inStock != 0">-</button>
      <span *ngIf="product[0].inStock == 0">PRODUTO ESGOTADO</span>

    </div>
    
  </div>
</div>